.accordions {
    width: 100%;
    display: flex;
    flex-direction: column;

    .accordions__item {
        width: 100%;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $tertiary;

        @media(min-width: 768px) {
            margin-bottom: 5rem;
            padding-bottom: 5rem;
        }


        &.open {

            button span {
                &::before {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }

            .accordions__item-inner {
                max-height: 2000px;
            }
        }

        button {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: transparent;
            border: none;
            box-shadow: none;
            cursor: pointer;

            h3 {
                margin: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 3rem;
                text-align: left;

                @media(min-width: 768px) {
                    font-size: 3rem;
                    line-height: 4rem;
                }
            }

            span {
                width: 40px;
                min-width: 40px;
                height: 40px;
                min-height: 40px;
                margin-left: 2rem;
                position: relative;
                display: block;
                border-radius: 50%;
                background-color: $tertiary;

                @media(min-width:768px) {
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    min-height: 50px;
                }

                &::before,
                &::after {
                    content: "";
                    width: 18px;
                    height: 3px;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transform-origin: center center;
                    background-color: $yellow;
                    transition: 400ms $cubic;

                    @media(min-width: 768px) {
                        width: 25px;
                        height: 4px;
                    }
                }

                &::before {
                    transform: translate(-50%, -50%) rotate(-90deg);
                }
            }
        }

        .accordions__item-inner {
            max-height: 0px;
            transition: 400ms $cubic;
            overflow: hidden;

            p,
            li,
            a:not(.button) {
                font-size: 1.6rem;
                line-height: 2.6rem;

                @media(min-width:768px) {
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }
        }
    }
}