.button-box {
    margin: 0 -1rem -2rem -1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .button {
        margin: 0 1rem 2rem 1rem;
        display: block;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &.button--standard {
        padding: 1.25rem 2.5rem;
        display: flex;
        align-items: center;
        background-color: $yellow;
        border-radius: 100px;
        box-shadow: none;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $primary;

        @media(min-width: 768px) {
            padding: 1.75rem 3rem;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: 1px;
        }

        svg {
            width: 30px;
            height: auto;
            margin-left: 1rem;
            display: block;

            @media(min-width: 768px) {
                width: 40px;
            }
        }

        &.button--yellow {
            background-color: $yellow;
            color: $primary;
        }
    }
}