.button-box {
    margin: 0 -1rem -2rem -1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .button {
        margin: 0 1rem 2rem 1rem;
        display: block;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &.button--standard {
        padding: 1.75rem 3rem;
        display: flex;
        align-items: center;
        background-color: $yellow;
        border-radius: 30px;
        box-shadow: none;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 1px;
        color: $primary;

        svg {
            width: 40px;
            height: auto;
            margin-left: 1rem;
            display: block;
        }

        &.button--yellow {
            background-color: $yellow;
            color: $primary;
        }
    }
}