.grid {


    &.grid--card {
        margin: 0 0 -2rem 0;
        display: flex;
        flex-wrap: wrap;

        @media(min-width: 768px) {
            margin: 0 -2rem -4rem -2rem;
        }

        .grid__item {
            width: 100%;
            margin: 0 0 2rem 0;
            padding: 6rem 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $tertiary;
            border-radius: 12px;

            @media(min-width: 768px) {
                width: calc(50% - 4rem);
                margin: 0 2rem 4rem 2rem;
            }

            @media(min-width: 1200px) {
                width: calc(25% - 4rem);
            }

            @media(min-width: 1600px) {
                padding: 6rem 7.5rem;
            }

            img {
                width: 65px;
                height: auto;
                margin-bottom: 2rem;
                display: block;
            }

            h3 {
                margin-bottom: 1rem;
                font-size: 2.4rem;
                line-height: 3.2rem;
                letter-spacing: 0.48px;
                text-align: center;
                color: $lightest;
            }

            p {
                margin-top: 0;
                font-size: 1.8rem;
                line-height: 2.6rem;
                text-align: center;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.grid--large-card {
        margin: 0 0 -2rem 0;
        display: flex;
        flex-wrap: wrap;

        @media(min-width: 768px) {
            margin: 0 0 -4rem 0;
        }

        @media(min-width: 1200px) {
            margin: 0 -2rem -4rem -2rem;
        }

        .grid__item {
            width: 100%;
            margin: 0 0 2rem 0;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: $tertiary;
            border-radius: 20px;

            @media(min-width: 768px) {
                padding: 6rem;
                margin: 0 0 4rem 0;
            }

            @media(min-width: 1200px) {
                width: calc(33.33% - 4rem);
                margin: 0 2rem 4rem 2rem;
                padding: 4rem 8rem 7.5rem 6rem;
            }

            span {
                margin-bottom: 2rem;
                display: block;
                font-size: 8rem;
                font-weight: 700;
                line-height: 8rem;
                color: $tertiary;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $light-blue;

                @media(min-width: 768px) {
                    margin-bottom: 4rem;
                    font-size: 12rem;
                    line-height: 12rem;
                }

                @media(min-width: 1200px) {
                    margin-bottom: 7.5rem;
                    font-size: 16rem;
                    line-height: 16rem;
                }
            }

            h3 {
                margin-bottom: 1rem;
                font-size: 2.4rem;
                line-height: 3rem;
                color: $lightest;

                @media(min-width: 768px) {
                    font-size: 3rem;
                    line-height: 4rem;
                    letter-spacing: 0.6px;
                }
            }

            p,
            a {
                font-size: 1.8rem;
                line-height: 2.8rem;

                @media(min-width: 768px) {
                    font-size: 2rem;
                    line-height: 2.7rem;
                    letter-spacing: .4px;
                }
            }

            p {
                margin-top: 0;
                color: $pastel-blue-light;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            a {
                margin-top: .5rem;
                display: block;
                color: $lightest;

                @media(min-width: 768px) {
                    margin-top: 1rem;
                }

                &:first-of-type {
                    margin-top: 2rem;

                    @media(min-width: 768px) {
                        margin-top: 2.5rem;
                    }
                }
            }
        }
    }

    &.grid--no-card {
        margin: 0 0 -2rem 0;
        display: flex;
        flex-wrap: wrap;

        @media(min-width: 768px) {
            margin: 0 -5rem -5rem -5rem;
        }

        @media(min-width: 1600px) {
            margin: 0 -9rem -9rem -9rem;
        }

        .grid__item {
            width: 100%;
            margin: 0 0 2rem 0;

            @media(min-width: 768px) {
                width: calc(50% - 10rem);
                margin: 0 5rem 5rem 5rem;
            }

            @media(min-width: 1200px) {
                width: calc(33.33% - 10rem);
            }

            @media(min-width: 1600px) {
                width: calc(33.33% - 18rem);
                margin: 0 9rem 9rem 9rem;
            }

            span {
                margin-bottom: 2rem;
                display: block;
                font-size: 3rem;
                line-height: 4rem;
                letter-spacing: .6px;
                color: $pastel-blue-light;
            }

            h3 {
                margin-bottom: 2rem;
                font-size: 2.8rem;
                line-height: 3.4rem;
                color: $lightest;

                @media(min-width: 768px) {
                    font-size: 4rem;
                    line-height: 5.4rem;
                }
            }

            p {
                margin-top: 0;
                font-size: 1.8 rem;
                font-weight: 400;
                line-height: 2.8rem;
                color: $pastel-blue-light;

                @media(min-width: 768px) {
                    font-size: 2rem;
                    line-height: 3.4rem;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}