ul,
ol,
dl {
    margin-bottom: $list-margin-bottom;
    list-style-position: $list-style-position;
    line-height: $list-lineheight;
}

li {
    font-size: 2rem;
    color: $lightest;

    .light & {
        color: $primary;
    }
}

ul {
    margin-left: 0;
    padding-left: 2rem;
    list-style-type: $list-style-type;

    li::marker {
        color: $yellow;

        .light & {
            color: $primary;
        }
    }
}

ol {
    position: relative;
    margin-left: $list-side-margin;
    counter-reset: counter;
    list-style: none;

    li {
        counter-increment: counter;
        margin-bottom: 1rem;

        &:before {
            position: absolute;
            left: 1rem;
            display: inline-block;
            content: counter(counter)".";
            font-size: 2rem;
            color: $yellow;
            font-weight: bold;

            .light & {
                color: $primary;
            }
        }
    }
}

ul,
ol {
    & & {
        margin-left: $list-nested-side-margin;
        margin-bottom: 0;
    }
}

dl {
    margin-bottom: $defnlist-margin-bottom;

    dt {
        margin-bottom: $defnlist-term-margin-bottom;
        font-weight: $defnlist-term-weight;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;

    .list__item {
        margin-bottom: 2rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        background-color: $tertiary;
        border-radius: 20px;

        .light & {
            background-color: $dark-grey;
        }

        @media(min-width: 768px) {
            margin-bottom: 3rem;
            padding: 3rem;
        }

        &:nth-child(2n) {
            transform: translateX(40px);
        }

        img {
            width: 50px;
            height: auto;
            margin-right: 2rem;
            display: block;

            @media(min-width: 768px) {
                width: 65px;
            }
        }

        .list__item-content {
            flex: 1;

            h4 {
                margin: 0;
                font-size: 2rem;
                line-height: 2.6rem;

                @media(min-width: 768px) {
                    font-size: 2.2rem;
                    line-height: 3rem;
                }

                @media(min-width: 1600px) {
                    font-size: 2.4rem;
                    line-height: 3.2rem;
                }
            }
        }
    }
}