.block__accordions {

    .accordions__intro {
        margin-bottom: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 2rem;
            text-align: center;
            color: $lightest;
        }

        p {
            margin-top: 0;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
            color: $lightest;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .button-box {
            margin-top: 4rem;
        }
    }

    .accordions__list {
        max-width: 1250px;
        margin: 0 auto;
    }
}