.block__locations {
    .locations__intro {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 768px) {
            margin-bottom: 9rem;
        }

        p {
            margin-top: 0;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .button-box {
            margin-top: 4rem;
        }
    }

    .locations__grid {

        .grid__item {
            justify-content: unset;

            .grid__item-content {
                flex: 1;
                display: flex;
                flex-direction: column;

                &__upper {
                    flex: 1;
                }

                &__lower {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}