.block__slider {

    .slider__intro {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 768px) {
            margin-bottom: 5rem;
        }
    }

    &.block__slider--standard {
        .slider__slider {

            .splide {

                .splide__track {}

                .splide__list {}

                .splide__pagination {
                    bottom: -3rem;
                    transform: translateY(100%);
                }

                .splide__slide {
                    padding: 7.5rem 0;
                    background-color: $dark-grey;
                    border-radius: 40px;

                    @media(min-width: 768px) {
                        padding: 15rem 0;
                    }

                    .container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                    }

                    .gatsby-image-wrapper,
                    .splide__slide-statistic {
                        width: 100%;
                        margin-bottom: 2rem;

                        @media(min-width: 768px) {
                            width: 33.33%;
                            margin-bottom: 0;
                        }
                    }

                    .splide__slide-statistic {
                        position: relative;

                        &.in-view {
                            svg {
                                stroke-dashoffset: 0;
                            }
                        }

                        &::before {
                            content: "";
                            padding-top: 100%;
                            display: block;
                        }

                        svg {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;

                            stroke-dasharray: 1200;
                            stroke-dashoffset: 1200;
                            transition: 2s $cubic;
                            transition-delay: 1s;
                        }


                        span {
                            width: 90%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            font-size: clamp(6rem, 5vw, 12rem);
                            color: $olive-green;
                            text-align: center;
                        }
                    }

                    .splide__slide-content {
                        width: 100%;

                        @media(min-width: 768px) {
                            width: 50%;
                        }

                        h3 {
                            margin-bottom: 2rem;
                            font-size: 3.4rem;
                            line-height: 4.4rem;
                            color: $olive-green;

                            @media(min-width: 768px) {
                                max-width: 460px;
                                margin-bottom: 3rem;
                                font-size: 6rem;
                                line-height: 6.5rem;
                            }
                        }

                        p {
                            margin-top: 0;
                            font-size: 1.8rem;
                            font-weight: 400;
                            line-height: 2.8rem;
                            color: $primary;

                            @media(min-width: 768px) {
                                max-width: 460px;
                                font-size: 2rem;
                                line-height: 3rem;
                            }
                        }

                        .button-box {
                            max-width: 460px;
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }

    &.block__slider--vertical {
        .slider__slider {
            width: 90%;
            max-width: 1340px;

            .splide {

                .splide__track {
                    overflow: visible;
                }

                .splide__list {}

                .splide__arrow {
                    display: none;
                }

                .splide__pagination {
                    right: -1rem;
                    transform: translateX(100%);

                    @media(min-width: 768px) {
                        right: -4rem;
                    }

                    @media(min-width: 1200px) {
                        right: -10rem;
                    }

                    li {

                        button {
                            margin: 1rem 0;
                        }
                    }
                }

                .splide__slide {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;

                    @media(min-width: 1200px) {
                        align-items: center;
                    }

                    .splide__slide-content {
                        width: 100%;
                        margin-bottom: 2rem;

                        @media(min-width: 1200px) {
                            width: 55%;
                            max-width: 700px;
                        }

                        h3 {
                            margin-bottom: 2rem;
                            font-size: 3.6rem;
                            line-height: 4.6rem;
                            color: $lightest;

                            @media(min-width: 768px) {
                                font-size: 6rem;
                                line-height: 8rem;
                            }
                        }

                        p {
                            margin-top: 0;
                            font-size: 1.8rem;
                            line-height: 2.8rem;

                            @media(min-width: 768px) {
                                font-size: 2rem;
                                line-height: 4rem;
                            }

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }

                        .gatsby-image-wrapper {
                            margin-top: 2rem;
                        }
                    }

                    .splide__splide-list {
                        width: 100%;

                        @media(min-width: 1200px) {
                            flex: 1;
                            width: auto;
                            margin-left: 8rem;
                        }

                        @media(min-width: 1600px) {
                            margin-left: 14rem;
                        }
                    }
                }
            }
        }
    }
}