.block__tabs {

    .tabs__intro {
        margin: 0 auto 5rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 768px) {
            max-width: 720px;
            margin: 0 auto 9rem auto;
        }

        p {
            margin-top: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.8rem;
            text-align: center;

            @media(min-width: 768px) {
                font-size: 2rem;
                font-weight: 400;
                line-height: 3rem;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .button-box {
            margin-top: 4rem;
        }
    }

    .tabs__selectors {
        max-width: 1250px;
        margin: 0 auto 5rem auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media(min-width: 768px) {
            margin: 0 auto 2rem auto;
            flex-direction: row;
        }

        @media(min-width: 1200px) {
            margin: 0 auto 10rem auto;
        }

        .tabs__selectors-button {
            width: 350px;
            margin: 0 0 1rem 0;
            padding: 1.5rem 3rem;
            display: block;
            background: transparent;
            border: 2px solid transparent;
            border-radius: 50px;
            font-size: 2rem;
            font-weight: 400;
            line-height: 3rem;
            text-align: center;
            color: $lightest;
            transition: 400ms $cubic;
            cursor: pointer;

            .light & {
                color: $primary;
            }

            @media(min-width: 768px) {
                width: calc(50% - 2rem);
            }

            @media(min-width: 1200px) {
                width: 350px;
                margin: 0;
                padding: 2rem 4rem;
                font-size: 3rem;
                line-height: 4rem;
                letter-spacing: 0.6px;
            }

            &.active {
                border: 2px solid $yellow;
            }

            &:hover {
                border: 2px solid $yellow;
            }
        }
    }
    
    .two-column {
        max-width: 800px;
        @media(min-width: 1573px) {
            max-width: 1900px;
        }
    }

    .tabs__tabs {
        width: 90%;
        margin: 0 auto;

        @media(min-width: 1200px) {
            width: 100%;
            margin: 0;
        }

        .tabs__tabs-tab {
            display: none;
            flex-wrap: wrap;

            @media(min-width: 1200px) {
                flex-wrap: nowrap;
            }

            &.active {
                display: flex;
            }

            .tab__image {
                width: 100%;
                display: flex;

                @media(min-width: 1200px) {
                    width: 50%;
                    margin: 0;
                    position: relative;

                    &::before {
                        content: "";
                        width: 100%;
                        padding-top: 100%;
                        display: block;
                    }
                }

                .gatsby-image-wrapper {
                    width: 100%;

                    @media(min-width: 1200px) {
                        width: 100%;
                        height: 100%;
                        position: absolute !important;
                        top: 0;
                        left: 0;
                        display: block;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }
            }

            .tab__content {
                width: 100%;
                margin: 0;
                padding: 2rem 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                @media(min-width: 1200px) {
                    flex: 1;
                    width: auto;
                    margin: 0 8rem 0 8rem;
                    padding: 7rem 0;
                }

                @media(min-width: 1600px) {
                    margin: 0 8rem 0 14rem;
                }

                h3 {
                    margin-bottom: 2rem;
                    font-size: 3rem;
                    line-height: 4rem;

                    @media(min-width: 768px) {
                        font-size: 4.2rem;
                        line-height: 5.2rem;
                        letter-spacing: 1px;
                    }

                    @media(min-width: 1200px) {
                        max-width: 500px;
                        margin-bottom: 3rem;
                        font-size: 6rem;
                        line-height: 6.5rem;
                        letter-spacing: 1.2px;
                    }
                }

                p {
                    margin-top: 0;
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 2.8rem;
                    color: $pastel-blue-light;

                    .light & {
                        color: $primary;
                    }

                    @media(min-width: 768px) {
                        font-size: 2rem;
                        line-height: 3rem;
                    }

                    @media(min-width: 1200px) {
                        max-width: 700px;
                    }

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                .button-box {
                    margin-top: 5rem;
                }
            }
        }
    }
}