@import "_settings.scss";

@import "common/_reset.scss";
@import "common/_grid.scss";
@import "common/_global.scss";
@import "common/_typography.scss";
@import "common/_animations.scss";
@import "common/_vendor.scss";

@import "components/_accordions.scss";
@import "components/_buttons.scss";
@import "components/_forms.scss";
@import "components/_grid.scss";
@import "components/_intro.scss";
@import "components/_lists.scss";
@import "components/_tables.scss";

@import "layouts/_header.scss";
@import "layouts/_navigation.scss";
@import "layouts/_sidebar.scss";
@import "layouts/_footer.scss";
@import "layouts/_wordpress.scss";
@import "layouts/_pages.scss";
@import "layouts/_posts.scss";

@import "blocks/_blocks.scss";
@import "blocks/_hero.scss";
@import "blocks/_image.scss";
@import "blocks/_text.scss";
@import "blocks/_logo-grid.scss";
@import "blocks/_slider.scss";
@import "blocks/_testimonials.scss";
@import "blocks/_tabs.scss";
@import "blocks/_media-text.scss";
@import "blocks/_team.scss";
@import "blocks/_grid.scss";
@import "blocks/_locations.scss";
@import "blocks/_maps.scss";
@import "blocks/_accordions.scss";
@import "blocks/_vacancies.scss";
@import "blocks/_feature-slider.scss";
@import "blocks/_video.scss";
@import "blocks/_recent-articles.scss";
@import "blocks/_404.scss";

#hs-eu-cookie-confirmation {
    bottom: 32px;
    top: auto;
}

.hidden {
    visibility: hidden;
    height: 0;
}