*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	display: block !important;
	box-sizing: border-box;

	font-size: 62.5%;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	background: $primary;
	transition: 200ms $cubic;

	&.light {
		background: $lightest;
	}
}

.wrapper {
	position: relative;
	overflow: hidden;

	.graphic {
		display: none;
		position: absolute;
		top: 0;
		left: 0;

		@media(min-width: 768px) {
			display: block;
		}

		svg {
			display: block;
			transform: translate(-500px, -500px);
		}
	}
}

body {
	line-height: $baseline;
	font-size: $global-font-size;
	color: $text-color;
	font-family: $global-font-family;
	font-weight: $global-weight-normal;
	overflow-x: hidden;

	&.mobile-menu-active {
		overflow: hidden;
		max-height: 100vh;
	}
}

.offcanvas {
	width: 100%;
	height: 100vh;
	padding: 10rem 0 2rem 0;
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(-101%);
	display: flex;
	flex-direction: column;
	background: $primary;
	transition: 800ms transform $cubic 0ms, 400ms background $cubic 0ms;
	z-index: 100;

	.light & {
		background: $lightest;
	}

	.mobile-menu-active & {
		transform: translateX(0%);
	}

	&__inner {
		flex: 1;
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__socials {
		margin-bottom: 2rem;
		display: flex;
		align-items: center;

		a {
			display: flex;
			font-size: 1.4rem;
			font-weight: 300;
			line-height: 1.6rem;
			align-items: center;
			text-decoration: none;
			color: $lightest;

			&::after {
				content: "";
				margin: 0 1rem;
				width: 5px;
				height: 5px;
				display: block;
				border-radius: 50%;
				background-color: $lightest;

				.light & {
					background-color: $primary;
				}
			}

			&:last-of-type {
				&::after {
					display: none;
				}
			}
		}
	}

	&__copyright {

		p {
			margin: 0;
			font-size: 1.4rem;
			font-weight: 300;
			line-height: 1.6rem;
		}
	}
}

.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .3);
	z-index: 10000;

	.modal__inner {
		width: 90%;
		height: 95%;
		padding: 2rem 2rem 3rem 2rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		background-color: $primary;
		border-radius: 40px;
		box-shadow: 0 0 20 rgba(0, 0, 0, 0.75);
		overflow: hidden;

		@media(min-width: 768px) {
			width: 75%;
			height: 90%;
			padding: 4rem;
			flex-direction: row;
		}

		.modal__close {
			width: 30px;
			height: 30px;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			transform: translate(-17.5%, 17.5%);
			transform-origin: center;
			display: block;
			background: transparent;
			border: none;
			box-shadow: none;
			cursor: pointer;
			z-index: 10;

			@media(min-width: 768px) {
				top: 2rem;
				right: 2rem;
			}

			&::before,
			&::after {
				content: "";
				width: 100%;
				height: 3px;
				position: absolute;
				top: 50%;
				left: 50%;

				transform-origin: center, center;
				background-color: $lightest;
			}

			&::before {
				transform: translate(-50%, -50%) rotate(-45deg);
			}

			&::after {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}

		.modal__image {
			width: 100%;
			height: 40%;
			min-height: 40%;
			margin-bottom: 2rem;
			position: relative;
			border-radius: 20px;
			overflow: hidden;

			@media(min-width: 768px) {
				width: calc(50% - 4rem);
				height: 100%;
				min-height: unset;
				margin-bottom: 0;
			}

			.gatsby-image-wrapper {
				width: 100%;
				height: 100%;
				position: relative;

				picture {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					display: block;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-fit: cover;
					}
				}
			}
		}

		.modal__content {
			width: 100%;
			flex: 1;
			overflow: scroll;

			/* Hide scrollbar for IE, Edge and Firefox */
			-ms-overflow-style: none;
			/* IE and Edge */
			scrollbar-width: none;
			/* Firefox */

			/* Hide scrollbar for Chrome, Safari and Opera */
			&::-webkit-scrollbar {
				display: none;
			}

			h3 {
				margin-bottom: 1.5rem;
			}

			p {
				margin-top: 0;
				margin-bottom: 1rem;
				font-size: 1.6rem;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			@media(min-width: 768px) {
				width: calc(50% - 4rem);

				h3 {
					margin-bottom: 2.5rem;
				}

				p {
					margin-bottom: 1.5rem;
					font-size: 2rem;
				}
			}
		}
	}
}


.overlay {
	display: none;

	@media(min-width: 768px) {
		display: block;
		position: absolute;
		background: rgba($dark, 0.3);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}

.embed {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	iframe,
	object,
	video,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}