nav.nav-primary {
	display: none;

	@media(min-width: 1200px) {
		display: flex;
	}

	a {
		margin-right: 3rem;
		display: block;
		font-size: 2rem;
		line-height: 3rem;
		letter-spacing: 1px;
		text-decoration: none;
		color: $lightest;
		transition: 400ms $cubic;

		&:hover {
			color: $yellow;
		}

		svg {
			display: none;
		}
	}
}

nav.nav-mobile {
	width: 100%;
	height: 65%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	z-index: 100;

	@media(min-width: 768px) {
		display: none;
	}

	&.mobile-menu-active .menu-primary-menu-container>ul {
		display: block;
	}

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		list-style-type: none;

		@media(min-width: 768px) {
			align-items: flex-start;
		}

		li {
			position: relative;
			margin-bottom: 1rem;
			text-align: center;
			padding-left: 0;
			overflow: hidden;

			&.button {
				text-transform: none;
				padding: 0;
				margin: 0 0 1em;
			}

			&.current-menu-item {
				a::after {
					background-position-x: -100%;
				}
			}

			&:hover {
				a::after {
					background-position-x: -100%;
				}
			}

			&::before {
				display: none;
			}

			@media(min-width: 768px) {
				text-align: left;
			}

			a {
				width: 100%;
				height: 100%;
				padding-bottom: .5rem;
				position: relative;
				display: block;
				color: $darkest;
				font-size: 4rem;
				font-weight: bold;
				text-align: center;
				text-decoration: none;

				@media(min-width: 1200px) {
					font-size: 4rem;
				}

				&::after {
					content: "";
					width: 100%;
					height: 2px;
					position: absolute;
					left: 0;
					bottom: 0px;
					transition: 300ms;
					background: linear-gradient(to left, $yellow 50%, transparent 50%, transparent 100%);
					background-size: 200% 100%;
				}

				@media(min-width: 768px) {
					font-size: 3rem;
					text-align: left;
				}
			}
		}
	}

	ul ul {
		display: none;
		margin: 0;

		li {
			&:first-child {
				border-top: 1px solid darken($light, 15%);
			}

			&:last-child {
				border-bottom: none;
			}

			a {
				font-weight: normal;
				padding-left: 1.75em;
			}
		}
	}

	ul ul ul {
		margin: 0;

		li a {
			padding-left: 2.25em;
			font-size: 1.4rem;
		}
	}
}

.mobile-trigger {
	width: 40px;
	height: 20px;
	position: relative;
	display: block;
	transition: 600ms $cubic;
	cursor: pointer;

	@media(min-width: 768px) {
		display: none;
	}

	span {

		&,
		&::before,
		&::after {
			transition: 300ms background $cubic, 300ms top $cubic 200ms, 200ms transform $cubic;
			position: absolute;
			background: $dark;
			margin: auto;
			width: 100%;
			height: 3px;
			content: '';
			top: 50%;
			left: 0;
		}

		&::before {
			top: -10px;
		}

		&::after {
			top: 10px;
		}

		&::before,
		&::after {
			transform: rotate(0deg);
		}

		&.mobile-menu-active {
			background: 0;

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
				width: 100%;
			}

			&::before,
			&::after {
				top: 0;
				background: $dark;
			}

			&,
			&::before,
			&::after {
				transition: 300ms background $cubic 200ms, 300ms top $cubic, 300ms transform $cubic 300ms;
			}
		}
	}
}

.nav-socials {
	display: none;

	@media(min-width: 768px) {
		display: block;

		a {
			margin: 1.75rem auto 0 auto;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: 19px;
				height: auto;

				path {
					transition: 400ms;
				}
			}

			&:hover {
				svg path {
					fill: $yellow;
				}
			}
		}
	}
}