.post-grid {
	margin: 0 0 -2rem 0;
	display: flex;
	flex-wrap: wrap;

	@media(min-width: 768px) {
		margin: 0 -1rem;
	}

	@media(min-width: 1200px) {
		margin: 0 -2rem;
	}

	.blog-post {
		width: 100%;
		margin: 0 0 2rem 0;

		@media(min-width: 768px) {
			width: calc(33.33% - 2rem);
			margin: 0 1rem 4rem 1rem;
		}

		@media(min-width: 1200px) {
			width: calc(33.33% - 4rem);
			margin: 0 2rem 8rem 2rem;
		}

		.gatsby-image-wrapper {
			div:first-of-type {
				padding-top: 56.25% !important;
			}
		}
	}
}

.blog-post {
	display: flex;
	flex-direction: column;
	text-decoration: none;

	.gatsby-image-wrapper,
	.blog-post__thumbnail {
		margin-bottom: 2rem;

		img {
			border-radius: 20px;
		}
	}

	&:hover {
		.blog-post__content span {
			color: $yellow;

			.light & {
				color: $orange;
			}

			svg {
				transform: translateX(3px);

				path {
					fill: $yellow;

					.light & {
						fill: $orange;
					}
				}
			}
		}
	}

	.blog-post__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h3 {
			margin-bottom: 1rem;
			font-size: 2.4rem;
			line-height: 3.6rem;
		}

		p {
			margin: 0 0 1rem 0;
			font-size: 1.8rem;
			line-height: 2.6rem;
			color: $pastel-blue-light;

			.light & {
				color: $primary;
			}

			@media(min-width: 768px) {
				line-height: 3.6rem;
			}
		}

		span {
			display: flex;
			align-items: center;
			font-size: 2rem;
			line-height: 3rem;
			letter-spacing: 1px;
			color: $lightest;
			transition: 400ms $cubic;

			@media(min-width: 768px) {
				line-height: 5rem;
			}

			svg {
				width: 40px;
				height: auto;
				margin-left: 2rem;
				display: block;
				transition: 400ms $cubic;

				path {
					transition: 400ms $cubic;
				}
			}

			.light & {
				color: $primary;

				svg path {
					fill: $primary;
				}
			}
		}
	}
}

.block__post-single {

	.container {
		max-width: 820px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $lightest;
	}
}

.load-more {
	margin-top: 5rem;
	display: flex;
	justify-content: center;

	button {
		border: none;
		box-shadow: none;
	}
}

.blog__post-hero-image.hero__image {
	max-width: 820px !important;
}